//
//Cells
//by Daniel Bage
//last updated 7/23/2015
//
//Outputs css classes to be used for cellular content
//

.cell, .cell-wrap
  clear: none
  float: left
  text-align: left
  margin-bottom: 5px

.cell-1
  width: 100%
  clear: left
  float: none

.cell-1,
.cells-row
  &:after
    content: ''
    clear: both
    display: block

=cell($cols, $width, $first: false, $last: false, $margin: 2%)
  $allDivs: (100% - ($cols * $margin))
  $aDiv: ($allDivs / $cols)
  @if $last
    width: ((($aDiv * $width) + (($width - 1) * $margin)) + ((($width) * $margin) / $cols))

  @if not $last
    width: ((($aDiv * $width) + (($width - 1) * $margin)) + (($width * $margin) / $cols))
    margin-right: $margin


=cells-list($columns, $margin: 2%, $class: '')
  @for $col from 2 through $columns
    @for $width from 1 through $col - 1
      .cell-#{$col}-#{$width}-first#{$class}
        clear: left
        +cell($col, $width, true, false, $margin)
      .cell-#{$col}-#{$width}#{$class}
        +cell($col, $width, false, false, $margin)
      .cell-#{$col}-#{$width}-last#{$class}
        +cell($col, $width, false, true, $margin)
        &:after
          content: ''
          clear: both
          display: block

//+cells-list(4, 2%)

//+cells-list(4, 0%, '-no-margin')

//+cells-list(4, 2%, '-wrap')

.cell.stack
  clear: both
  text-align: left
  margin: 0 0 10px
  width: 100%
