.nmb, .no-margin-bottom {
  margin-bottom: 0; }
  .nmb h1:last-of-type, .nmb h2:last-of-type, .nmb h3:last-of-type, .nmb h4:last-of-type, .nmb h5:last-of-type, .nmb h6:last-of-type, .nmb p:last-of-type, .no-margin-bottom h1:last-of-type, .no-margin-bottom h2:last-of-type, .no-margin-bottom h3:last-of-type, .no-margin-bottom h4:last-of-type, .no-margin-bottom h5:last-of-type, .no-margin-bottom h6:last-of-type, .no-margin-bottom p:last-of-type {
    margin-bottom: 0; }

.cell, .cell-wrap {
  clear: none;
  float: left;
  text-align: left;
  margin-bottom: 5px; }

.cell-1 {
  width: 100%;
  clear: left;
  float: none; }

.cell-1:after,
.cells-row:after {
  content: "";
  clear: both;
  display: block; }

.cell.stack {
  clear: both;
  text-align: left;
  margin: 0 0 10px;
  width: 100%; }

/*# sourceMappingURL=main.css.map */
